<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |f| %>
    <%= f.label :user_name, 'User Name: '%>
    <%= f.text_field :user_name %><br/>
    <%= f.label :first_name, 'First Name: '%>
    <%= f.text_field :first_name %><br/>
    <%= f.label :last_name, 'Last Name: '%>
    <%= f.text_field :last_name %><br/>
    <%= f.label :age, 'Age: '%>
    <%= f.text_field :age %><br/>
    <%= f.label :password, 'Password: ' %>
    <%= f.password_field :password %><br/>
    <%= f.label :password_confirmation, 'Password Confirmation: ' %>
    <%= f.password_field :password_confirmation %><br/>
    <%= f.label :phone_number, 'Phone Number: '%>
    <%= f.text_field :phone_number %><br/>

    <%= f.submit "Save Information" %>
<% end %>

<%= link_to "Back", users_path %>