

<% if flash[:notice]%>
  <p><%= flash[:notice]%></p>
<% end%>
<h1>Profile</h1>

<p>Hello, <%= @user.user_name %></p>
<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Phone Number: <%= @user.phone_number %></p>
<p>Age: <%= @user.age %></p>
<p>Followers: <%= @user.followers.size%></p>
<p>Following: <%= @user.followings.size%></p>
<p>Recently Watched:  </p>
<ul>
<% @user.views.each do |view| %>
    <li><%= link_to view.show.name, show_path(view.show) %></li>
    <% @user.watches.each do |watch| %>
        <li><%= link_to watch.episode.name, episode_path(watch.episode) %></li>
    <% end %>
<% end %>
</ul> 

<% if @user.id == session[:user_id]%>
  <%= button_to "Edit Account Information", {action: "edit", controller: "users", id: @user.id}, method: "get"%> 
<% else %>
  <% if @user.followers.any?{|follow| follow.user_id == session[:user_id]} %>
    <%= button_to "Unfollow", {action: "destroy", controller: "followings"}, params:{"followee_id" => @user.id } , method: "delete"%>
  <% else %>
    <%= button_to "Follow", {action: "create", controller: "followings"}, params:{"followee_id" => @user.id } , method: "post"%> 
  <% end %> 
<% end %>
