    <%= stylesheet_link_tag "shows" %>
<!DOCTYPE html>
<html>
<head>
<style>

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    text-align: center;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    padding-left: 100px;
    padding-right: 100px;
    
}



</style>
</head>
<body class="shows">
<h1>Welcome to WeWatch</h1>
<ul>
    <% @shows.each do |show| %>
        <ul>
            <%= link_to show.name, show_path(show) %>
            <p>Number of seasons: <%= show.num_of_seasons %></p>
            <p>Rating: <%= show.vote_avg %></p>
        </ul>
    <% end %>
</ul>
</body>
</html>

        <!-- <div class="card-group">
            <% @check_out.each do |show| %>
        <div class="card w-75">
            <div class="contain">
            <div class="row">
                <div class="row__inner">

                <div class="tile">
                    <div class="tile__media">
                    <img class="tile__img" src="https://image.tmdb.org/t/p/w500/<%= show.poster_path %>" alt=""  />
                    </div>
                    <div class="tile__details">
                    <div class="tile__title">
                        <%= link_to show.name, show_path(show) %>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
            <% end %>
    </div> -->