<%= stylesheet_link_tag "shows" %>

        <!-- <div class="card-group">
            <% @check_out.each do |show| %>
        <div class="card w-75">
            <div class="contain">
            <div class="row">
                <div class="row__inner">

                <div class="tile">
                    <div class="tile__media">
                    <img class="tile__img" src="https://image.tmdb.org/t/p/w500/<%= show.poster_path %>" alt=""  />
                    </div>
                    <div class="tile__details">
                    <div class="tile__title">
                        <%= link_to show.name, show_path(show) %>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
            <% end %>
    </div> -->

<div class="conteiner">
<% @shows.each do |show| %>
		<div class="card w-75 text-center">
        <div class="card-body">
            <h5 class="card-title"><%= link_to show.name, show_path(show) %></h5>
            <p class="card-text">Number of seasons: <%= show.num_of_seasons %></p>
            <p class="card-text">Rating: <%= show.vote_avg %></p>
        </div>
        </div>
<% end %>
</div>

