

<!DOCTYPE html>
<html>
  <head>
    <title>WeWatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
    @import url('https://fonts.googleapis.com/css?family=Quicksand:500&display=swap');
    </style>

	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  
  <body class= "main_body">

    <nav class="navbar sticky-top navbar-expand-lg navbar-light <%# bg-light %>", style="background-color: rgb(224, 11, 11, 0.7); border-radius: 0.9rem;">
      <a class="navbar-brand" href="<%= shows_path %>">WeWatch</a>
        <ul class="navbar-nav">
            <% if logged_in? %>
              <li class="nav-item"><a class="nav-link" href="<%= user_path(session[:user_id]) %>">Account</a><li>
              <li class="nav-item"><a class="nav-link" href="<%= logout_path %>" data-method="delete">Log Out</a><li>
            <% else %>
              <li class="nav-item"><a class="nav-link" href="<%= login_path %>">Log In</a><li>
              <li class="nav-item"><a class="nav-link" href="<%= signup_path %>">Sign Up</a><li>
            <% end %>
            <li><a class="nav-link" href="<%= shows_path %>">Shows</a>
            <li><a class="nav-link" href="#">News</a>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">Search for Shows:</li>&nbsp;&nbsp;&nbsp;
        </ul>
            <%= bootstrap_form_tag(url: shows_path, method: "get") do %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= text_field_tag :q , "" ,  :class => "form-control_main" %></li>&nbsp
          <li class="nav-item"><%= submit_tag "Search", :class => "btn btn-dark"%></li>
        </ul>

            <% end %>
</nav>

    <%= yield %>
  </body>
</html>
