<!DOCTYPE html>
<html>
  <head>
    <title>WeWatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light", style="background-color: #e3f2fd;">
      <a class="navbar-brand">WeWatch</a>
        <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <%# <li class="nav-item active"> %>
            <a class="nav-link" href="<%= shows_path %>"> Home <span class="sr-only">(current)</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <%# <li class="nav-item"> %>
            <% if logged_in? %>
            <%# <a class="nav-link" href="<%= logout_path %>
            <%= link_to "Logout", {action: "destroy", controller: 'sessions'}, method: :delete %>
            <a class="nav-link" href="<%= user_path(@user) %>">Account Information</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% else %>
            <a class="nav-link" href="<%= login_path %>">Log-in</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="nav-link" href="<%= signup_path %>">Sign-up</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% end %>
          <%# <li class="nav-item"> %>
            <a class="nav-link" href="<%= shows_path %>">Shows</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        </ul>
        <%# <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> %>
        <%= form_with(url: shows_path, method: "get") do %>
          <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
</nav>

    <%= yield %>
  </body>
</html>
